<%- include('header') -%>

    <div class="box">
        <img src="/img/Brand.png" alt="Brand" id="Brand">
        <div>
            <form action="/" method="post">
                <input type="text" name="cityname" id="cityname" placeholder="Enter City Name">
                <br>
                <button class="btn" type="submit">Check Weather</button>
            </form>
        </div>
        <% if(status=="404"){%>
            <div class="inbox_static">
                <p id="intext">Please type correct city name</p>
            </div>
        <%}else if(query!=""){ %>
            <div class="inbox">
                <div id="left">
                    <img src="<%= imgURL %>" alt="<%= weatherdescription %>">
                </div>
                <div id="right">
                    <p><%= query %> </p>
                    <p><%= temp %> °C </p>
                    <p><%= weatherdescription %> </p>
                    <% query="";%>
                </div>
            </div>
            <div class="grid-container">
                <div class="grid-item">
                    <img class="icon" id="mn" src="/img/mint.png" alt="">
                    <span>Min Temp</span>
                    <p class="desc">
                        <%= mint %>
                    </p>
                </div>
                <div class="grid-item">
                    <img class="icon" id="mx" src="/img/maxt.png" alt="">
                    <span>Max Temp</span>
                    <p class="desc">
                        <%= maxt %>
                    </p>
                </div>
                <div class="grid-item">
                    <img class="icon" src="/img/fl.png" alt="">
                    <span>Feels Like</span>
                    <p class="desc">
                        <%= flike %>
                    </p>
                </div>
                <div class="grid-item">
                    <img class="icon" id="press" src="/img/press.png" alt="">
                    <span>Pressure</span>
                    <p class="desc">
                        <%= press %>
                    </p>
                </div>
                <div class="grid-item">
                    <img class="icon" src="/img/hum.png" alt="">
                    <span>Humidity</span>
                    <p class="desc">
                        <%= hum %>
                    </p>
                </div>
                <div class="grid-item">
                    <img class="icon" src="/img/wind.png" alt="">
                    <span>Wind Speed</span>
                    <p class="desc">
                        <%= wspeed %>
                    </p>
                </div>
            </div>
        <% } else{%>
            <div class="inbox_static">
                <p id="intext">Type City Name to get weather details</p>
            </div>
        <% } %>
    </div>

    <%- include('footer') -%>